@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Fonts */

h1 {
  font-weight: 300;
  font-size: 35px;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 25px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
}

b {
  font-weight: 500;
}

/* Main */

#main {
  padding: 25px 10px;
  height: calc(100% - 101px);
  overflow-y: scroll;
}

/* Carousel */

.carousel {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 180px;
  border-radius: 8px;
  user-select: none;
}

.carousel-element {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 180px;
  margin: 0 10px;
  cursor: pointer;
}

.carousel-element:first-child {
  margin-left: 0;
}

.carousel-element:last-child {
  margin-right: 0;
}

.carousel-element img {
  position: relative;
  border-radius: 8px;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.carousel-element span {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  background: linear-gradient(90deg, rgba(255,255,255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%);
  padding: 10px;
  width: -webkit-fill-available;
}

/* Playlist */

.playlist-element .song-title, .playlist-element .song-author {
  display: block
}

/* Playing Bar */

.playing-bar {
  display: flex;
  background-color: black;
  color: white;
  padding: 16px 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.playing-bar img {
  display: inline-block;
  height: 28px;
  width: 28px;
  margin: -4px 5px -5px 0;
  cursor: pointer;
}

.playing-bar .playing-bar-content {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.playing-bar .playing-bar-content-end {
  display: inline-block;
}

/* Big screen */

@media screen and (min-width: 800px) {
  #main {
    padding: 25px 60px;
  }
  .playing-bar {
    padding: 16px 60px;
  }
}